<% if user_signed_in? %>
	<% if current_user.admin? %>
		<p> I am admin </p>
	<% elsif current_user.provider? %>
		<p> I am provider </p>
		<%= link_to 'Create Consumer', new_consumer_static_pages_path %><br/><br/><br/>
		<% @users.all.each do |user| %>
			<%= link_to user.email, user_path(user) %><br/>
		<% end %>
	<% else %>
		<h2>Notes</h2>
		<% current_user.notes.each do |note| %>
			<%= note.service %><br/>
		<% end %><br/><br/><br/>
		<h2>Orders</h2>
		<% current_user.orders.each do |order| %>
			<%= order.name %><br/>
		<% end %>
	<% end %><br/><br/><br/>
	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Log In", new_user_session_path %>
<% end %>