<ul class="form_ul">

<%= form_for @note do |f| %>
  <%= f.hidden_field 'user_id', value: params[:user_id] %>
  <%= f.hidden_field 'provider_id', value: current_user.id %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this med from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :service %><br/>
  <%= f.text_field :service %><br/>

  <%= f.label :subjective %><br/>
  <%= f.text_field :subjective %><br/><br/><br/>

  <%= f.submit class: 'btn' %><br/><br/><br/>
<% end %>
</ul>
