<h1>Users</h1>


<%= link_to "All Users", :action => "index" %>
|
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>

<%= link_to 'Create Consumer', new_user_path %>
<table>
<% @users.each do |user| %>
  <tr>
    <td>
      user.email
    </td>
    <td>
      user.approved
    </td>
    <td>
      <%= link_to "edit", edit_user_path(user) %>
    </td>
  </tr>

</table>
<% end %>
