<ul class="form_ul">

<%= form_for @order do |f| %>
  <%= f.hidden_field 'user_id', value: params[:user_id] %>
  <%= f.hidden_field 'provider_id', value: current_user.id %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this med from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>

  <%= f.label :details %><br/>
  <%= f.text_field :details %><br/><br/><br/>

  <%= f.submit class: 'btn' %><br/><br/><br/>
<% end %>
</ul>
